.home-btn {
  position: absolute;
  right: 30px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 15%;
  transition: all 0.3s;

  &:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:active {
    transform: scale(0.9);
  }
}